/* src/components/pages/settingChildren/SettingFirebase.css */

/* 텍스트 영역과 버튼을 감싸는 컨테이너 */
.firebase-container {
    display: flex; /* 자식 요소들을 가로로 정렬 */
    align-items: center; /* 자식 요소들을 세로 중앙에 정렬 */
    width: 100%; /* 컨테이너 너비를 100%로 설정 */
}

/* 텍스트 영역 스타일 */
.firebase-textarea {
    flex-grow: 1; /* 사용 가능한 공간을 모두 차지하도록 설정 */
    margin-right: 10px; /* 버튼과의 오른족 여백 추가 */
    resize: none; /* 사용자가 크기를 조절할 수 없도록 설정 */
}

/* 버튼 스타일 */
.firebase-button {
    width: 50px; /* 너비를 50px로 고정 */
    height: 50px; /* 높이를 50px로 고정하여 정사각형 모양으로 만듦 */
    flex-shrink: 0; /* 컨테이너 크기가 줄어들 때 버튼 크기가 줄어들지 않도록 설정 */
}
